@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.nav-buttons{
    margin-left: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins' , sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
}

h2{
    font-size: 1.8rem;
    font-weight: bold;
}
h3{
    font-size: 1.5rem;
    font-weight: bold;
}
h4{
    font-size: 1.2rem;
    font-weight: bold;
}
h5{
    font-size: 1rem;
    font-weight: bold;
}
h6{
   color: #d8d8d8;
}
.navbar{
    font-size: 16px;
    padding-top: 2rem important;
    padding-bottom: 2rem important;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.logo1{
  padding-right: 100px;
}
  .navbar-light .navbar-nav .nav-link{
    padding: 0 18px ;
    
    color: #000;
    transition: 0.4s ease;
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar i:hover,
  .navbar-light .navbar-nav .nav-link.active
  .navbar i:hover{
    color: coral;
  }
.navbar i {
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px ;
}

@media only screen and (max-width:900px){

.nav-buttons{
    margin: 10px;
}
.nav-buttons ul{
    margin: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}
.nav-buttons ul .fa{
    margin: 20px 5px 10px 20px;
}
#home {
    height: 90vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
}
}
 .shop-btn, .buy-btn{
    /* background-image: url('../imgs/hero5.png'); */
    background-color: black;
    color: white;
    border: 0;
    width: 100px;
    height: 40px;
    /* padding: 18px 80px 18px 80px; */
    /* background-repeat: no-repeat; */
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

.buy-btn:hover{
    background-color: burlywood;
    
}
.shop-btn:hover{
    
    background-color: burlywood;
}

#home{
    background-image: url('../imgs/hero3.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x: 120%;
    background-position-y: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#home span{
    color: coral;
}

#new .one img{
    width: 99%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
#new .one .details:hover{
    background-color: darkgoldenrod;
}
#new .one{
    position: relative;
}

#new .one .details{
    position: absolute;
    top: 0;
    left: 0;
    color: burlywood;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.6 ;
    background-color: rgb(1, 1, 1);
    width: 99%;
    height: 100%;
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
}

/* product */
.product{
    cursor: pointer;
    margin-bottom: 2rem;
}
.product img{
    transition: 0.3s all;
}
.product:hover img{
    opacity: 0.7;
}

#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../imgs/newsletter.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #041e42;
    background-size: cover;
    height: 100%;
  }
  #newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: wheat;
  }
  #newsletter p{
    font-size: 14px;
    font-weight: 600;
    color: #041e42;
    }
    #newsletter p span{
      
      color: #ffbd27;
      }
      #newsletter input{
        height: 3.125rem;
        padding: 0 1.25em;
        font-size: 14px;
        width: 100%;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
  #newsletter button{
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  }
  #newsletter .form{
  display: flex;
  width: 40%;
  }
  .section-m1{
    padding: 40px 0; 
  }
  .section-p1{
    padding: 40px 80px; 
  }  

  footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
  }
  footer .col{
  
    display: flex;
   flex-direction: column;
   align-items: flex-start;
    margin-bottom: 20px;
  }
  footer .logo{
  margin-bottom: 30px;
  }
  footer h4{
    font-size: 14px;
    padding-bottom: 20px;
  }
  footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
  }
  footer a{
    text-decoration: none;
    color: #222;
    font-size: 13px;
    margin-bottom: 10px;
  }
  footer .follow{
    margin-top: 20px;
  }
  footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
  }
  footer .install .row img{
  border: 1px solid #088178;
  border-radius: 6px;
  }
  footer .install img{
    margin: 10px 0 15px 0;
  }
  
  footer .follow i:hover{
  color: #088178;
  }
  footer a:hover{
    color: #088178;
    }
    footer .copyright{
      width: 100%;
      text-align: center;
    }




    .small-img-group{
      display: flex;
      justify-content: space-between;
       
    }
    .small-img-col{
      flex-basis: 24%;
      cursor: pointer;
    }
    .single-product input{
      width: 50px;
      height: 40px;
      padding-left: 10px;
      font-size: 16px;
      margin-right: 10px;
    }

.single-product input:focus{
outline: none;
}
.single-product .buy-btn{
  background-color: #fb774b;
  opacity: 1;
  transition: 0.4s all;
}
.single-product .buy-btn:hover{
  background-color: #000;
}
.text{
  display: flex;
}
.pay{
  display: flex;
}

/* /cart/ */


.cart table{
  width: 100%;
  border-collapse: collapse;

}
.cart .product-info{
 display: flex;
 flex-wrap: wrap;
}
.cart th{
  text-align: left;
  padding: 5px 10px;
  color: #fff;
  background-color: #fb774b;
}
.cart td{
  padding: 10px 20px;
}
.cart td img{
  width: 80px;
  height: 80px;
  margin-right: 10px;
}

.remove-btn, .edit-btn{
  text-decoration: none;
  color: #fb774b;
}
.inpu{
  max-width: 50px;
      height: 30px;
      font-size: 16px;
}

.cart-total{
  display: flex;
  justify-self: flex-end;
}
.cart-total, table{
  width: 100%;
 
  border-top: 2px solid #fb774b;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}
.buy-btn{
  justify-content: flex-end;
  background-color: #fb774b;
  color: #fff;
}




/* login */
#login-form{
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #fb774b;
}
#login-form input{
  width: 50%;
  margin: 5px auto;
}

#login-form #login-btn{
  background-color: #fb774b;
  color: #fff;
}
#login-form #register-url{
  color: #fb774b;
}



/* Register */
#register-form{
  width: 50%;
  margin: 5px auto;
  text-align: center;
  padding: 20px;
  border-top: 1px solid #fb774b;
}
#register-form input{
  width: 50%;
  margin: 5px auto;
}
#register-form #register-btn{
  background-color: #fb774b;
  color: #fff;
}
#register-form #login-url{
  color: #fb774b;
}

/* Account */
#account-form{
  width: 50%;
  margin: 35px auto;
  text-align: center;
  padding: 20px;
}
#account-form input{
margin: 5px auto;
}

#account-form #change-pass-btn{
  color: #fff;
  background-color: #fb774b;
}

.account-info #orders-btn,#logout-btn{
  color: #fb774b;
  text-decoration: none;
}

/* checkout */
#checkout-form, .checkout-small-element{
  display: inline-block;
  width: 48%;
  margin: 10px auto;
}

#checkout-form, .checkout-large-element{
width: 96%;
}

#checkout-form, .checkout-btn-container{
margin: 10px;
text-align: right;
margin-right: 40px;
}

#checkout-form, #checkout-btn{
  color: #fff;
  background-color: #fb774b;
}

/* contact */
#contact a{
  text-decoration: none;
  color: black;
}
#contact span{
  color: #fb774b;
}


























